{% extends "layout.html" %}
{% block body %}

<div class="">
  <h1>Create Item</h1>
  <form class="" action="{{url_for('items.new')}}" method="post">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <label for="name">
      Name
      <input type="text" name="name" value="{{item.name}}">
    </label>

    <label for="description">
      Description
      <textarea type="text" name="description">{{item.description}}</textarea>
    </label>

    <label for="catalog">
      Catalog
      <select class="" name="catalog_id">
        {% for catalog in catalogs %}
          <option value="{{catalog.id}}" {{ "selected='true'" if catalog.id == item.catalog_id else '' }}>
            {{catalog.name}}
          </option>
        {% endfor %}
      </select>
    </label>
    <p>{{error}}</p>
    <input type="submit" name="" value="Create">
  </form>

    <a href="{{url_for('items.index')}}">Cancel</a>
</div>

{% endblock %}
