{% extends "layout.html" %}
{% block body %}

<div class="">
  <h1>Edit Item</h1>
  <form class="" action="{{url_for('items.update', id=item.id)}}" method="post">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <div class="row">
      <div class="six columns">
        <label for="name"> Name </label>
        <input type="text" name="name" value="{{item.name}}">
      </div>

      <div class="six columns">
        <label for="catalog"> Catalog </label>
        <select class="" name="catalog_id">
          {% for catalog in catalogs %}
            <option value="{{catalog.id}}" {{ "selected='true'" if catalog.id == item.catalog_id else '' }}>
              {{catalog.name}}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>

    <label for="description"> Description </label>
    <textarea type="text" name="description">{{item.description}}</textarea>

    <p class="error">{{error}}</p>
    <input class="button-primary" type="submit" name="" value="Save">
    <a class="button" href="{{url_for('items.index')}}">Cancel</a>
  </form>
</div>

{% endblock %}
