{% extends "layout.html" %}
{% block body %}

<div class="">
  <a href="{{url_for('catalogs.index')}}">All Catalogs</a>
  <a href="{{url_for('items.index')}}">All Items</a>

  <h1>{{item.name}}</h1>
  <p>{{item.description}}</p>

  {% if session.get('user') == item.user_id %}
  <a href="{{url_for('items.edit', id=item.id)}}">Edit</a>
  <a href="{{url_for('items.delete', id=item.id)}}">Delete</a>
  {% endif %}

  <h3>Catalog</h3>
  <a href="{{url_for('catalogs.get', id=item.catalog_id)}}">{{item.catalog.name}}</a>
</div>

{% endblock %}
