{% extends "layout.html" %}
{% block body %}

<div class="">
  <a href="{{url_for('catalogs.index')}}">All Catalogs</a>
  <section>
    <h1>Items</h1>
    <a href="{{url_for('items.create')}}">Add Item</a>
    <ul>
      {% for item in items %}
        <li>
          <a href="{{url_for('items.get', id=item.id)}}">{{ item.name }}</a>
          {% if session.get('user') == item.user_id %}
          -
          <a href="{{url_for('items.edit', id=item.id)}}">Edit</a>
          <a href="{{url_for('items.delete', id=item.id)}}">Delete</a>
          {% endif %}
          - Catalog:
          <a href="{{url_for('catalogs.get', id=item.catalog_id)}}"><i>{{item.catalog.name}}</i></a>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>

{% endblock %}
