{% extends "layout.html" %}
{% block body %}

<div class="">
  <h3>Edit Catalog</h3>
  <form class="" action="{{url_for('catalogs.update', id=catalog.id)}}" method="post">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <input name="id" type="hidden" value="{{ catalog.id }}">
    <label for="name"> Name </label>
    <input type="text" name="name" value="{{catalog.name}}">
    <p class="error">{{error}}</p>
    <input class="button-primary" type="submit" name="" value="Save">
    <a class="button" href="{{url_for('catalogs.index')}}">Cancel</a>
  </form>

</div>

{% endblock %}
