{% extends "layout.html" %}
{% block body %}

<div class="">

  <div class="upper">
    <h3>Catalogs</h3>
    <a class="button button-primary" href="{{url_for('catalogs.create')}}">Add Catalog</a>
  </div>

  <ul>
    {% for catalog in catalogs %}
      <li>
        <a href="{{url_for('catalogs.get', id=catalog.id)}}">{{ catalog.name }}</a>
        {% if session.get('user') == catalog.user_id %}
        <a href="{{url_for('catalogs.edit', id=catalog.id)}}">Edit</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>

{% endblock %}
